body
{
    background-image: url("https://media.tenor.com/fZhEeuUufz0AAAAC/landscape-city.gif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    font-weight: bold;
}

.player
{
   display: flex;
   flex-direction: column; 
}

.stats
{
    color: white;
    font-size: 20px;
}

button
{
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: black;
}

button:hover
{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 10px 5px 5px red, -1em 0 .4em black;
}

.log
{
    color:white;
    font-size: 18px;
}

#finishingMove
{
    display: none;
}